import init.otter-common.rc
import init.omap4-amazon.rc
import init.otterx.usb.rc

on fs
    mkdir /factory 0775 radio radio
    mount_all /fstab.otterx
    swapon_all /fstab.otterx
    setprop ro.crypto.fuse_sdcard true

    # We chown/chmod /factory because mount is run as root + defaults
    chown radio radio /factory
    chmod 0775 /factory

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

on charger
    wait /dev/block/platform/omap/omap_hsmmc.1/by-name/system
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/system /system ro barrier=1

service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0
